.buttonStyle{
    outline-color: saddlebrown;
    background-color: darkorange;
    text-align: center;
    font-family: 'DejaVu Sans Mono';
    font-size: 48px;
}

.creditsBox {
    position: absolute;
    right: 25px;
    outline-style: dashed;
    font-family: 'DejaVu Sans Mono';
    outline-color: orangered;
    background-color: orange;
}

.resultStyle {
    background-color: rosybrown;
    width: 100%;
    color: yellow;
    font-size: 36px;
}