/* 
    COLOR PALETTE
    #F4A460 - Sandy brown - black text
    #A15621 - Brown - white text, mid readability
    #FFB325 - Xanthous - black text, insane readability
    #ADA493 - Khaki - black text
*/

/* THE COMMON STUFF */
body {
    background-color: #F4A460;
}

ul {
    margin-top: 1px;
    margin-bottom: 1px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 8px;
}

h3 {
    margin-top: 8px;
    margin-bottom: 0px;
}

/* BUTTONS */
.buttonStyle {
    background-color: #FFB325;
    border-color: #A15621;
    border-width: 3px;
    border-style: ridge;
    text-align: center;
    font-family: 'DejaVu Sans Mono';
    font-size: 48px;
    margin-bottom: 16px;
}
    .buttonStyle:hover {
        filter: brightness(115%);
        transition: 0.3s;
    }

    .buttonStyle:active {
        filter: brightness(85%);
        transition: 0.3s;
    }

.settingButton {
    background-color: #FFB325;
    color: black;
    border-color: darkmagenta;
    border-width: 4px;
    border-radius: 8px 8px;
    font-size: 20px;
    font-family: 'DejaVu Sans Mono';
    margin: 8px 4px 8px 4px;
    padding: 4px 12px 4px 12px;
    transition: 0.6s;
}

    .settingButton:hover {
        filter: brightness(115%);
        transition: 0.3s;
    }

    .settingButton:active {
        filter: brightness(85%);
        transition: 0.3s;
    }

/* BOXES / CONTAINERS */
.creditsBox {
    background-color: #ADA493;
    position: absolute;
    width: 50%;
    right: 12px;
    font-family: 'DejaVu Sans Mono';
    outline-color: orangered;
    text-align: right;
}

.settingsBox {
    background-color: #ADA493;
    position: absolute;
    width: 40%;
    text-align: center;
}

.favoritesBox {
    background-color: #ADA493;
    text-align: center;
    color: black;
    border-top-style: solid;
    border-top-color: brown;
    border-top-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: brown;
    border-bottom-width: 3px;
}

.resultStyle {
    background-color: #A15621;
    width: 100%;
    color: white;
    font-size: 36px;
}

/* CONTENTS */
.flag {
    width: 50%;
    max-width: 192px;
    transition: 0.8s;
}

    .flag:hover {
        filter: brightness(115%);
        transition: 0.4s;
    }
    .flag:active {
        filter: brightness(160%);
        transition: 0.6s;
    }

.barrelleft {
    position: absolute;
    left: 12px;
    font-size: 24px;
    vertical-align: central;
}

.barrelright {
    position: absolute;
    right: 12px;
    font-size: 24px;
    vertical-align: central;
}

@media screen and (min-width: 1120px) {
    .barrelleft {
        left: 25%;
    }

    .barrelright {
        right: 25%;
    }
}
