body {
    background-color: sandybrown;
}

.buttonStyle{
    outline-color: saddlebrown;
    background-color: darkorange;
    text-align: center;
    font-family: 'DejaVu Sans Mono';
    font-size: 48px;
}

.creditsBox {
    position: absolute;
    right: 25px;
    outline-style: dashed;
    font-family: 'DejaVu Sans Mono';
    outline-color: orangered;
    background-color: orange;
    text-align: right;
}

.barrelleft {
    position: absolute;
    left: 125px;
}

.barrelright {
    position: absolute;
    right: 125px;
}

.resultStyle {
    background-color: saddlebrown;
    width: 100%;
    color: white;
    font-size: 36px;
}