.buttonStyle{
    outline-color: saddlebrown;
    color: darkorange;
    text-align: center;
    font-family: 'DejaVu Sans Mono';
    font-size: 24px;
}

.creditsBox {
    position: absolute;
    right: 25px;
    outline-style: dashed;
    font-family: 'DejaVu Sans Mono';
    outline-color: orangered;
    color: orange;
}